.BurgerIngredientsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BurgerIngredientsBun,
.BurgerIngredientsSauce,
.BurgerIngredientsMain
 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.TableIngridients {
    height: 70vh;
    overflow-y:scroll;
    width: 70%;
}