.headerContainer {
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #4C4CFF;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    height: 88px;
}
.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
}
#constructor {
    width: 178px;
    height: 56px;
}
#salesBand {
    width: 197px;
    height: 56px;
}
#private {
    width: 207px;
    height: 56px;
}