.BurgerConstructorContainer {
    width: 50%;
    margin-top: 80px;
}
.IngridientsTable {
    width: 60%;
    height: 55vh;
    overflow-y: scroll;
}

.topBurgerIngridient {
    width: 60%;
    display: flex;
    justify-content: flex-end;
 }
 .saleItog {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    margin: 10px;
 }
 .cost,
 .costIcon {
    margin-right: 10px;
 }
